<p>Add your comment to the BODY of the form, all other fields are optional.. we respect your anonimity</p>

<%= form_with(model: [ @article, @article.comments.build ]) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :facebook_id %><br>
    <%= form.text_field :facebook_id %>
  </p>
  <p>
    <%= form.label :twitter_id %><br>
    <%= form.text_field :twitter_id %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

