<h1>About this app</h1>

<h3><%= @app_description %></h3>

* GitHub Repo: <%= @app_repo_url %><br/>
* App Ver: <b><%= @app_version %></b> <br/>
* GitHUb Latest version: <a href="https://raw.githubusercontent.com/palladius/ror5-pasta/master/pasta/VERSION"><b><%= @app_latest_ver %></b></a> <br/>
* App Desciption: 

<h2>Changelog</h2>

<pre class='changelog' ><%= @app_changelog %></pre>